<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {titulo: 'Home', css: ['home.css']}) %>
<body>
    <div class="container">
        <h1>Livraria Crud</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti sint eligendi corporis veritatis, eum voluptas nesciunt! Iure quisquam, sapiente animi cumque sunt harum unde tempora reprehenderit. Accusamus perspiciatis sequi necessitatibus.</p>
        <a href="/livros/criar" class="btn-cadastro">Cadastrar Livro</a>

        <main class="livros">
            <% for(let livro of livros){ %>
                <div class="livro">
                    <h3><%= livro.nome %></h3>
                    <p>Ano de lançamento: <%= livro.ano %></p>
                    <p>Editora: <%= livro.editora %></p>
                    <p>Estoque: <%= livro.estoque %></p>
                    <a href="/livros/editar">Editar</a>
                </div>
            <% } %>

            
        </main>
        
    </div>
</body>
</html>